.productImage {
  height: 170px;
  object-fit: contain;
}

.card a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}
.card a:hover {
  color: inherit !important;
}

.linkbutton {
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 10px;
  text-align: center;
}

.createImage {
  position: absolute;
  top: 0;
  right: 0;
}

.nav-item {
  margin-right: 0px !important;
}

.stepperBorder {
  border: 1px solid black;
}
